[%- IF config.google.analytics_id -%]
  [%- script = 'https://www.googletagmanager.com/gtag/js?id=' _ config.google.analytics_id -%]
  [%- inline = BLOCK -%]
<script>
// Do not activate Google Analytics if we are on a private subnet. 
// FIXME! Match IPv6 addresses!
if (!window.location.hostname.match(/^(localhost|127\.|192\.168\.|172\.1[6-9]\.172\.2[0-9]|\172\.\3[01]\.|10\.)/i)) {
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  //gtag('config', '[% config.google.analytics_id %]', { 'anonymize_ip': true });
  gtag('config', '[% config.google.analytics_id %]');
}
</script>  
  [%- END -%]
  [%- global.scripts.push(script, inline) -%]
[%- END -%]
