[% USE gtx = Gettext('net.qgoda.www', asset.lingua) %]
[% USE q = Qgoda %]
<div class="sidebar_module sidebar_general">
  <ol>
   <li>
     <a class="github-button"
        href="https://github.com/gflohr/qgoda"
        data-icon="octicon-star" data-show-count="true"
        aria-label="[% gtx.gettext('Star qgoda on GitHub') %]">[% gtx.gettext('Star') %]</a>&nbsp;[% gtx.gettext('Star on GitHub') %]
   </li>
   <li>
     <a href="https://github.com/gflohr/qgoda-site/blame/master/[% asset.relpath %]">
       <i class="fa fa-file-code-o"></i>
       [% gtx.gettext('Source code of this page') %]
     </a>
   </li>
   [% IF asset.lingua != 'en' %]
   <li>
     <a href="[% q.link(name = asset.name, lingua = 'en') %]">
       <i class="fa fa-language"></i>
       Read this page in English
     </a>
   </li>
   [% END %]
   [% IF asset.lingua != 'de' %]
   <li>
     <a href="[% q.link(name = asset.name, lingua = 'de') %]">
       <i class="fa fa-language"></i>
       Diese Seite auf Deutsch lesen
     </a>
   </li>
   [% END %]
  </ol>
</div>
