[% seen = {} %]
[% FOREACH style IN global.styles %]
  [%- NEXT IF seen.$style; seen.$style = 1 %]
  [%- IF (style.match('^[ \t\n]*<style')) %]
  [% style %]
  [%- ELSE %]
  <link href="[% q.bust_cache(style) | url %]" rel="stylesheet">
  [%- END %]
[% END %] 
