[% PROCESS functions/setup.tt %]
<body>
  [% INCLUDE partials/header/navbar.html %]

  <div class="container">
    <div class="row">
      <div class="col-sm-8 content">
        <div class="[% css.qgoda.content_head %]">
          <h1>[% asset.title %]</h1>
          <div class="[% css.qgoda.description %]">
            [% asset.description %]
          </div>
        </div>
        [% asset.content %]
      </div>
      <div class="col-sm-3 offset-sm-1 sidebar">
        [% INCLUDE partials/body/sidebar.html %] 
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <footer id="footer" class="bg-warning-opaque">
  [% INCLUDE partials/body/footer.html %]
  </footer>
  <!-- Footer Section End -->

  [% INCLUDE partials/body/ga.html %]
  [% PROCESS functions/scripts.tt %]
</body>

