[% USE gtx = Gettext %]
<nav class="navbar navbar-full navbar-dark bg-warning">
  <button class="navbar-toggler hidden-md-up toaster pull-left" type="button" 
          data-toggle="collapse" data-target="#navbarCollapsing" 
          aria-controls="navbarCollapsing" aria-expanded="false" 
          aria-label="Toggle navigation">
      &#9776;
  </button>
  <div class="qgoda-brand">
    <a class="navbar-brand" href="/"
       title="Qgoda Start Page">
      <img src="/images/qgoda-logo-white.svg" 
           alt="Qgoda logo" height="32" />
    </a>
  </div>
  <div class="collapse navbar-toggleable-sm" id="navbarCollapsing">
    <ul class="nav navbar-nav">
      <li class="nav-item hidden-md-up">
        <a class="nav-link" href="/"
           title="Qgoda Start Page">
          <i class="fa fa-home"></i>&nbsp;[% gtx.gettext('Home') %]</a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"
           title="Qgoda News">
          <i class="fa fa-newspaper-o"></i>&nbsp;[% gtx.gettext('News') %]</i>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/en/docs/"
           title="Qgoda Documentation">
          <i class="fa fa-check"></i>&nbsp;[% gtx.gettext('Docs') %]</a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
           title="Qgoda Downloads">
          <i class="fa fa-download"></i>&nbsp;Download</a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.github.com/gflohr/qgoda"
           title="Qgoda On Github">
          <i class="fa fa-github"></i>&nbsp;Github</a>
        </a>
      </li>
    </ul>
  </div>
</nav>
