[% USE gtx = Gettext('net.qgoda.www', asset.lingua) %]
[% USE q = Qgoda %]
<nav class="navbar navbar-expand-md navbar-dark bg-warning">
  <button class="navbar-toggler" type="button" 
          data-toggle="collapse" data-target="#navbarCollapse" 
          aria-controls="navbarCollapse" aria-expanded="false" 
          aria-label="[% gtx.gettext('Toggle navigation') %]">
      &#9776;
  </button>
  <div class="qgoda-brand">
    <a class="navbar-brand" href="/[% asset.lingua %]/"
       title="Qgoda Start Page">
      <img src="/images/qgoda-logo-white.svg" 
           alt="Qgoda logo" height="32" />
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto flex">
      <li class="d-md-none nav-item">
        <a class="nav-link" href="/[% asset.lingua %]/"
           title="[% gtx.gettext('Qgoda Start Page') %]">
          <i class="fa fa-home"></i>&nbsp;[% gtx.gettext('Home') %]</a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="[% asset.nav.prev.permalink %]"
           title="[% gtx.gettext('Back') %]"
           [% IF asset.nav.prev %]id="nav-back"[% END %]>
          <i class="fa fa-arrow-left"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="[% asset.nav.start.permalink %]"
           title="[% gtx.gettext('Start') %]" id="nav-home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="[% asset.nav.next.permalink %]"
           title="[% gtx.gettext('Forward') %]"
           [% IF asset.nav.prev %]id="nav-forward"[% END %]>
          <i class="fa fa-arrow-right"></i>
        </a>
      </li>

      <li class="nav-item" style="display: none;">
        <a class="nav-link" href="[% q.llink(name='data-privacy') %]">
          <i class="fa fa-balance-scale"></i>&nbsp;[% gtx.gettext('Data Privacy Statement') %]
        </a>
      </li>
      <li class="nav-item push-md-6" style="display: none;">
        <a class="nav-link" href="[% q.llink(name='legal-disclosure') %]">
          <i class="fa fa-info"></i>&nbsp;[% gtx.gettext('Legal Disclosure') %]
        </a>
      </li>
    </ul>
  </div>
  <div class="[% css.talks.navbar_title %] hidden-md-down d-none d-md-flex">
    <h1 class="text-center">[% asset.title | html %]</h1>
  </div>
  <div class="float-right [% css.talks.navbar_event %] d-none d-lg-flex">
    Deutscher Perl-Workshop 2018
  </div>
</nav>
