:root {
	--cookie-consent-banner-font-family-body: 'Raleway', sans-serif;
	--cookie-consent-banner-font-family-headline: 'Raleway', sans-serif;
	--cookie-consent-banner-font-size-body: 1rem;
	--cookie-consent-banner-spacings-container-padding-left: 0;
	--cookie-consent-banner-spacings-container-padding-right: 0;
	--cookie-consent-banner-spacings-container-padding-bottom: 0;
	--cookie-consent-banner-colors-primary: #e74c3c;
}
