<cookie-consent-banner
	btn-label-accept-and-continue="Zustimmen und weiter"
	btn-label-only-essential-and-continue="Weiter mit nur technisch notwendigen Cookies"
	btn-label-persist-selection-and-continue="Auswahl speichern und weiter"
	btn-label-select-all-and-continue="Alles auswählen und weiter"
	content-settings-description="Mit den entsprechenden Optionen unterhalb können sie steuern, welche Cookies verwendet werden. Die Auswahl kann die Funktionalität des Dienstes beeinträchtigen."
>
	Diese Website verwendet Cookies und ähnliche Technologien, um gewisse Funktionalität
	zu ermöglichen, die Benutzbarkeit zu erhöhen und Inhalt entsprechend
	ihren Interessen zu liefern. Über die technisch notwendigen Cookies hinaus
	können abhängig von ihrem Zweck Analyse- und Marketing-Cookies zum Einsatz
	kommen. Sie können ihre Zustimmung zu den vorher erwähnten Cookies erklären,
	indem sie auf "Zustimmen und weiter" klicken.
	<a href="javascript:document.dispatchEvent(new Event('cookie_consent_details_show'))"
	   class="consent-banner-link">Hier</a>
	können sie Detaileinstellungen vornehmen oder ihre Zustimmung - auch teilweise -
	mit Wirkung für die Zukunft zurücknehmen. Für weitere Informationen lesen sie
	bitte unsere
	<a href="/de/datenschutzerklaerung/" class="consent-banner-link">Datenschutzerklärung</a>.
</cookie-consent-banner>

<script>
	const cookieConsentBannerElement = document.querySelector(
		"cookie-consent-banner"
	);
	cookieConsentBannerElement.availableCategories = [
		{
			description:
				"Lässt sie navigieren, Grundfunktionen benutzen und Einstellungen speichern.",
			key: "technically_required",
			label: "Technisch notwendigen Cookies",
			isMandatory: true,
		},
		{
			description:
				"Ermöglicht dem Betreiber festzustellen, wie Besucherinnen und Besucher mit der Seite interagieren, damit wir die Benutzbarkeit der Seite verbessern können.",
			key: "analytics",
			label: "Analysis cookies",
		},
		/*
		{
			description:
				"Enable us to offer and evaluate relevant content and interest-based advertising.",
			key: "marketing",
			label: "Marketing cookies",
		},
		*/
	];
</script>
