<cookie-consent-banner
	btn-label-accept-and-continue="Agree and continue"
	btn-label-only-essential-and-continue="Continue with technically required cookies only"
	btn-label-persist-selection-and-continue="Save selection and continue"
	btn-label-select-all-and-continue="Select all and continue"
	content-settings-description="You can decide which cookies are used by selecting the respective options below. Please note that your selection may impair in the functionality of the service."
>
  This website uses cookies and similar technologies to provide certain features, enhance
	the user experience and deliver content that is relevant to your interests.
	Depending on their purpose, analysis and marketing cookies may be used in
	addition to technically necessary cookies. By clicking on "Agree and
	continue", you declare your consent to the use of the aforementioned cookies.
	<a
		href="javascript:document.dispatchEvent(new Event('cookie_consent_details_show'))"
		class="consent-banner-link"
	>
		Here
	</a>
	you can make detailed settings or revoke your consent (in part if necessary)
	with effect for the future. For further information, please refer to our
	<a href="/en/data-privacy/" class="consent-banner-link">Privacy Policy</a>.
</cookie-consent-banner>

<script>
	const cookieConsentBannerElement = document.querySelector(
		"cookie-consent-banner"
	);
	cookieConsentBannerElement.availableCategories = [
		{
			description:
				"Enable you to navigate and use the basic functions and to store preferences.",
			key: "technically_required",
			label: "Technically necessary cookies",
			isMandatory: true,
		},
		{
			description:
				"Enable the site owner to determine how visitors interact with our service in order to improve the user experience.",
			key: "analytics",
			label: "Analysis cookies",
		},
		/*
		{
			description:
				"Enable us to offer and evaluate relevant content and interest-based advertising.",
			key: "marketing",
			label: "Marketing cookies",
		},
		*/
	];
</script>
