[% USE q = Qgoda %]
[% USE gtx = Gettext('net.qgoda.www', asset.lingua) %]
[% PROCESS "functions/css-modules.tt" %]
[% posts = q.llistPosts().nsortBy('date.epoch').reverse %]
[% FOREACH post IN posts %]
<div class="[% css.qgoda.teaser %]">
  <h2>
    <a href="[% post.permalink %]" class="[% css.qgoda.teaser_link %]">
  [% post.title %]
    </a>
  </h2>

  <div class="[% css.qgoda.teaser_date %]">
    <a href="[% post.permalink %]" class="[% css.qgoda.teaser_link %]">
      <!--TRANSLATORS: See "man strftime" for the meaning!-->
      <i class="fa fa-clock-o"></i>&nbsp;[% q.strftime(gtx.gettext('%B, %e %Y'), post.date, asset.lingua) %]
    </a>
  </div>

  <p>
    <a href="[% post.permalink %]" class="[% css.qgoda.teaser_link %]">
      [% post.excerpt %]
    </a>
  </p>

  <a href="[% post.permalink %]" class="btn btn-warning">[% gtx.gettext('Read More') %]</a>
</div>
[% END %]
