#about .client .client-img {
    padding-top: 20px;
    height: 100%;
}

#about .client .duktape_logo {
    font-size: 24pt;
    font-weight: 400;
    text-shadow: 3px 3px 3px #000000;
    a {
        color: #fff;
    }
}

.logo img {
    width: 100%;
    @media (min-width: 768px) {
        width: 50%;
    }
}

.info-client {
    a {
        color: #fff;
        text-decoration: underline;
    }
    a:hover {
        color: #2b689c;
    }
}

#getting-started {
    img {
        width: 100%;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
