$qgoda-font-size: 1.2rem;
$qgoda-main-color: #555;
$qgoda-headline-color: #333;
$qgoda-nav-link-color: #fff;
//$qgoda-orange: #d97319;
$qgoda-orange: #2b689c;

/* Stolen from bootstrap.  They should really referece the values from
 * bootstrap instead of hard-coding them.
 */
$brand-primary: #2b689c;
$gray-light: #818a91;
$gray-lightest: #f7f7f9;
$line-height-base: 1.5;

@mixin clearfix() {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
}
  
html {
    font-size: $qgoda-font-size;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;
    text-transform: none;
    color: #666666;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: Arimo, Arial, Helvetica, sans-serif;
}

h1, .h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 77.55099487304688px;
    text-transform: uppercase;
    color: $brand-primary;
}

h2 {
    font-size: 31px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 40.172706604003906px;
    text-transform: uppercase;
}

.content {
    h2 {
        font-weight: 400;
    }
}

.sidebar, .content-head {
    margin-top: 2rem;
    @media (min-width: 768px) {
        margin-top: 5rem;
    }
    .sidebar-general {
        font-size: smaller;
        a {
            color: $qgoda-orange;
        }
    }
}

.content-head {
    margin-bottom: 2rem;

    .description {
        font-family: Aleo;
        font-size: 24px;
        font-style: italic;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 31.36263234991776378939px;
        text-transform: none;
        color: #999999;
    }
}

.nav-link:hover, .nav-link:focus {
    color: $qgoda-nav-link-color;
    background-color: transparent;
}

.nav-link.active {
    color: $qgoda-nav-link-color;
}

.toaster {
    color: $qgoda-nav-link-color;
}

@media (max-width: 767px) {
    .qgoda-brand {
       @include clearfix(); 
    }
}

.sidebar {
    ol {
        list-style: outside none none;
        padding: 0;
    }
    @media (max-width: 767px) {
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-size: 100%;
            font-weight: bold;
        }
    }
}

footer {
    padding: 1rem;
    font-size: smaller;
    color: #fff;
    width: 100%;
    margin-top: 3rem;
    a {
        color: #fff;
        padding-left: 0;
        text-decoration: underline;
    }
    .footer-links {
        a {
            padding-right: 1rem;
        }
    }
    div {
        margin: 0 auto;
    }
}

td.linenos {
    padding: 0 1px 0 0;
}

td.code {
    padding: 0;
}

.linenodiv {
    color: $brand-primary;
    background: $gray-lightest;
    border-left: 0.35rem solid $brand-primary;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
}

.highlight {
    width: 100%;
    background: $gray-lightest;
    background-image: url(/images/square-white.svg);
    background-size: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    pre {
        line-height: $line-height-base;
        padding-left: 0.5rem;
    }
}

.highlighttable {
    width: 100%;
    margin-bottom: 1rem;
    .highlight {
        margin-bottom: 0;
    }
}

.large-image {
    width: 100%;
    @media (min-width: 768px) {
        width: 50%;
    }
}

.alert {
    .fa {
        margin-right: 0.5rem;
    }
    p {
        margin: 0;
    }
}

.pre {
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.no-pre {
    white-space: normal;
    word-wrap: normal;
}

.variable {
    font-weight: bold;
}

pre[class*=language-] {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
}
