$gray-light: #818a91;
$gray-lightest: #f7f7f9;

.toc {
    border: 1px dotted $gray-light;
    background-color: $gray-lightest;
    margin-bottom: 2rem;
    padding: 0.5rem;
    padding-bottom: 0rem;

    ul {
         list-style-type: none;
    }

    .toc-title {
        font-weight: bold;
        font-size: 110%;
        padding-bottom: 0.5rem;
    }
}

ul.toclevel-1 {
   padding-left: 0;
}
